/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {

    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 10px 24px;
    background-color: #E02C6D;
    text-align: center;
    transition: box-shadow .4s ease;
}
.btn:hover {
    box-shadow: 0 0 10px #00000077;
}

/* Header Styles */

.header {
    width: 100%;
    padding: 42px 0;
    background-color: #2D25A0;
}

/* Navbar styles */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    position: relative;
    width: 50%;
}
.menu-container label {
    width: 100%;
    display: none;
    font-size: 30px;
    color: #fff;
    text-align: right;
}
.menu-container label .fa-times {
    color: #000;
    text-align: right;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-item a {
    color: #fff;
}

/* Hero styles */
.hero-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
}

.hero-content {
    max-width: 50%;
}

.hero-title {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    line-height: 80px;
    margin-bottom: 27px;
}
.hero-bg {
    width: 550px;
    max-width: 50%;
    background-image: url(../images/ball-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.hero-bg img {
    transition: transform .7s ease;
}
.hero-section:hover .hero-bg img {
    transform: rotate(1deg) skew(-23deg, 16deg) translate(-10px,10px);
}
/* Header Style End */


/* Player Style Start */
.player-section{
    margin: 70px 0;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: 0 30px;
}
.player-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-name {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin: 16px 0;
}
.player-bio {
    width: 100%;
    font-size: 16px;
    color: #6C6C6C;
    max-height: 120px;
    overflow: hidden;
    
}
/* Player Style end */

/* Highlight Style start */
.highlight-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
}
.highlight-content, .highlight-image{
    max-width: 50%;
}
.highlight-title{
    color: #0A0826;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 8px;
}
.description{
    width: 80%;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 36px;
}

/* Highlight Style End */

/* Footer Style start */
footer {
    width: 100%;
    margin-bottom: 64px;
}
.footer-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img {
    width: 400px;
}
.social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px 0;
}
.social i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    color: #969BAB;
    background-color: #969bab5e;
}
.copyright {
    font-size: 18px;
}
/* Footer Style End */


